@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi";
}

/* Add these to your global CSS file */

.typewriter-first {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-first 2.5s steps(40, end);
}

.typewriter-second {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-second 2.5s steps(30, end);
}

.typewriter-para {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          animation: typing-para 5s steps(70, end);
          
        }



        
@keyframes typing-first {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing-second {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing-para {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


