@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these to your global CSS file */

.typewriter-first {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-first 2.5s steps(40, end);
}

.typewriter-second {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-second 2.5s steps(30, end);
}

@keyframes typing-first {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing-second {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@layer components {
  .hover-animation {
    @apply transition-all duration-500 ease-[cubic-bezier(0.25,0.1,0.25,1)]
           hover:scale-[1.03] hover:shadow-lg hover:-translate-y-2
           transform-gpu will-change-transform cursor-pointer;
  }
}